/*
Theme Name: Approved Multi Services
Theme URI: http://approvedmultiservices.com
Description: Website theme for Approved Multi Services Dubai by Zoom Digital.
Version: 1.0
Author: Airish
Author URI: http://umairishtiaq.com
*/


#menu-item-144 a{
   background: #006cb7 !important;
    color: white !important;
    height: 46px;
    border-radius: 3px;
    border: 3px solid #e3e3e3;
    border-top: 3px solid #e3e3e3 !important;
    padding: 0px 16px 12px !important;
    margin: 12px 31px 2px 1px;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

.sl-content-wrapper .sl-content img{
    width:100%;
}

h2.body{
    margin-top: 32px !important;
}

.content h2{
        font-size: 1.8em !important;
}

.wmle_container .wmle_item .wpme_image img {
    border-radius: 0px !important;
    min-height: 160px;
    box-shadow: none !important;
}
div.wpcf7-validation-errors, div.wpcf7-mail-sent-ok
{
border:0px !important;
}

/* Masonry Layout */

#wmle_container{padding:0px;margin:0px;}
.wmle_container .wmle_item_holder.col5{width:20%}
.wmle_container .wmle_item_holder.col4{width:25%}
.wmle_container .wmle_item_holder.col3{width:33.333333333%}
.wmle_container .wmle_item_holder.col2{width:50%}
.wmle_container .wmle_item_holder.col1{width:100%}
.wmle_container a{padding:0px; margin:0px;}

.wmle_container .wmle_item_holder .wpme_image img{max-width:100%; height:auto;}
.wmle_loadmore .loading_icon{ box-shadow:none; border-radius:none;}
.wmle_loadmore .wmle_loadmore_btn:focus{outline: 0;}
.wmle_loadmore{ text-align:center; padding-top:10px; padding-bottom:10px;}

@media only screen and (max-width: 767px) and (min-width: 640px) {
    .wmle_container.responsive .wmle_item_holder.col5{width:33.333333333%}
	.wmle_container.responsive .wmle_item_holder.col4{width:33.333333333%}
	.wmle_container.responsive .wmle_item_holder.col3{width:33.333333333%}
	.wmle_container.responsive .wmle_item_holder.col2{width:50%}
}

@media only screen and (max-width: 639px) and (min-width: 321px) {
    .wmle_container.responsive .wmle_item_holder.col5{width:50%}
	.wmle_container.responsive .wmle_item_holder.col4{width:50%}
	.wmle_container.responsive .wmle_item_holder.col3{width:50%}
	.wmle_container.responsive .wmle_item_holder.col2{width:50%}
}

@media only screen and (max-width: 320px){
    .wmle_container.responsive .wmle_item_holder.col5{width:100%}
	.wmle_container.responsive .wmle_item_holder.col4{width:100%}
	.wmle_container.responsive .wmle_item_holder.col3{width:100%}
	.wmle_container.responsive .wmle_item_holder.col2{width:100%}
}
