@font-face {
    font-family: 'Dubai Light';
    src: url(../fonts/DubaiW23-Light.eot) format('embedded-opentype'),
         url(../fonts/DubaiW23-Light.ttf) format('truetype'),
         url(../fonts/DubaiW23-Light.woff) format('woff'),
         url(../fonts/DubaiW23-Light.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dubai Regular';
    src: url(../fonts/DubaiW23-Regular.eot) format('embedded-opentype'),
         url(../fonts/DubaiW23-Regular.ttf) format('truetype'),
         url(../fonts/DubaiW23-Regular.woff) format('woff'),
         url(../fonts/DubaiW23-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dubai Medium';
    src: url(../fonts/DubaiW23-Medium.eot) format('embedded-opentype'),
         url(../fonts/DubaiW23-Medium.ttf) format('truetype'),
         url(../fonts/DubaiW23-Medium.woff) format('woff'),
         url(../fonts/DubaiW23-Medium.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dubai Bold';
    src: url(../fonts/DubaiW23-Bold.eot) format('embedded-opentype'),
         url(../fonts/DubaiW23-Bold.ttf) format('truetype'),
         url(../fonts/DubaiW23-Bold.woff) format('woff'),
         url(../fonts/DubaiW23-Bold.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@mixin font-light() {
    font-family: 'Dubai Light', Arial, Helvetica, Sans-serif;
}
@mixin font-regular() {
    font-family: 'Dubai Regular', Arial, Helvetica, Sans-serif;
}
@mixin font-medium() {
    font-family: 'Dubai Medium', Arial, Helvetica, Sans-serif;
}
@mixin font-bold() {
    font-family: 'Dubai Bold', Arial, Helvetica, Sans-serif;
}
