@import "_mixins";
@import "fonts";

footer { background: #3c3c3c;
    .social-nav { padding: 0; float: left; }
    .widget-right { float: none; padding: 0; text-align: center;
        .footer-nav li { float: none; display: inline-block; }
    }
}

.contact-banner{ margin-bottom: -760px; position: relative;
    .frame { background: url(../images/inner-banner.jpg); height: 760px; padding: 250px 0 0;
        -webkit-mask-image: url(../images/frame-fill.svg);
        mask-image: url(../images/frame-fill.svg);
        -webkit-mask-size: cover;
        mask-size: cover;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center bottom;
        mask-position: center bottom;
    }
    &:after { content: ''; position: absolute; bottom: 0; left: 0; right: 0; display: block; background: url(../images/frame.svg) center bottom no-repeat; background-size: cover; width: 100%; height: 760px; }
    h1 { color: $white; text-transform: uppercase; font-size: 72px; }
}

.page-contents { background: $green; padding: 860px 0 125px;
    section { background: $white; }
    .contact-form { padding: 65px 65px 65px 50px;
        -webkit-box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
        -moz-box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
        box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
        h3 { color: #000000; font-size: 32px; text-transform: uppercase; margin: 0 0 25px; }
        input[type=text], input[type=email], input[type=tel], textarea { border-color: #646464; color: #646464; margin-bottom: 10px; }
        .half { width: calc(50% - 7px); margin-right: 10px; }
        .half.last { margin-right: 0; }
        .full { width: 100%; }
        input[type=submit] { background: #216093; border: 0; }
        ::-webkit-input-placeholder {
            color: #646464;
        }
        :-moz-placeholder {
            color: #646464;
            opacity: 1;
        }
        ::-moz-placeholder {
            color: #646464;
            opacity: 1;
        }
        :-ms-input-placeholder {
            color: #646464;
        }
        ::-ms-input-placeholder {
            color: #646464;
        }
    }
    .address-wrap { padding: 120px 30px 150px; }
    address {
        &.address { background: url(../images/contact-mail-icon.png) 0 top no-repeat; padding-top: 108px; }
        h6 { color: #000000; text-transform: uppercase; font-size: 30px; }
        p { color: #6e6e6e; font-size: 20px; margin: 0; @include font-bold; }
        p a { text-overflow: ellipsis; word-break: break-all; }
        &.address { margin-bottom: 50px; }
        &.email { margin-bottom: 25px; }
        i { margin-right: 20px; font-size: 30px; vertical-align: middle; }
        i, a { color: $green; }
    }
}

#map_canvas { width: 100%; height: 600px; }

@media screen and (min-width: 768px) and (max-width: 992px) {

    .page-contents {
        section { background: none; }
        .contact-form { padding: 20px; margin: 0 0 50px; background: #ffffff;
            h3 { margin: 0 0 28px; font-size: 28px; }
            fieldset input { margin: 0 0 15px; width: 100%; }
            fieldset .half { width: 100%; margin-right: 0; }
        }
        .address-wrap { padding: 50px 20px; background: #ffffff;
            &:before { display: none; }
            i { float: left; margin-bottom: 20px; }
        }
    }

}

@media screen and (max-width: 767px) {

    .contact-banner { margin: 0;
        .frame { height: auto; padding: 100px 0; -webkit-mask-image: none; mask-image: none; }
        &:after { display: none; }
        h1 { font-size: 36px; }
    }

    .page-contents { padding: 100px 0;
        section { background: none; }
        .contact-form { padding: 20px; margin: 0 0 50px; background: #ffffff;
            h3 { margin: 0 0 28px; font-size: 28px; }
            fieldset input { margin: 0 0 15px; width: 100%; }
            fieldset .half { width: 100%; margin-right: 0; }
        }
        .address-wrap { padding: 50px 20px; background: #ffffff;
            &:before { display: none; }
            i { float: left; margin-bottom: 20px; }
        }
    }

}
