@import '_mixins';
@import '_fonts';

/* GENERAL */

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=file],
textarea { border: 1px solid $white; background: none; color: $white; padding: 15px 20px; line-height: 20px; @include font-regular; }
textarea { width: 100%; }

::-webkit-input-placeholder {
    color: $white;
}
:-moz-placeholder {
   color: $white;
   opacity: 1;
}
::-moz-placeholder {
   color: $white;
   opacity: 1;
}
:-ms-input-placeholder {
   color: $white;
}
::-ms-input-placeholder {
   color: $white;
}

.btn { color: $white; border: 2px solid $white; text-transform: uppercase; font-size: 22px; @include font-bold; padding: 10px 35px; line-height: 32px; border-radius: 0; background: none;
	transition: all 0.5s ease-in; }

h1, h2, h3, h4, h5, h6 { @include font-bold; }

a { color: inherit;
	&:hover { text-decoration: none; }
}

#output { margin: 20px 0; color: $white; }

body { overflow-x: hidden; color: $black; @include font-regular; }

@media screen and (min-width: 767px) {

	.row-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         flex;
	}

	.no-gutters {
		margin-right: 0;
		margin-left: 0;

		> .col,
		> [class*="col-"] {
			padding-right: 0;
			padding-left: 0;
		}
	}

}

/* HEADER */

header { background: rgba(255,255,255,0.95); min-height: 120px; color: $black; position: fixed; top: 0; left: 0; width: 100%; z-index: 99;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	.logo { display: inline-block; margin: 26px 0; }
	.nav { text-transform: uppercase; text-align: right; font-size: 20px; @include font-bold; height: 46px;
		li { display: inline-block; margin-left: 45px; position: relative;
			&:first-child { margin-left: 0; }
			a { display: block; position: relative; overflow: hidden; padding: 0 0 16px;
				&:after { content: ''; display: block; width: 100%; height: 3px; background: $green; position: absolute; left: -200px; bottom: 0; transition: all 0.5s; opacity: 0; }
				&:hover:after { left: 0; opacity: 1; }
			}
			&.current-menu-item a:after { left: 0; opacity: 1; }
			&:hover .sub-menu { display: block; }
		}
	}
	.top-bar { @include font-regular; text-align: right; padding: 25px 0;
		a { font-size: 14px; margin-left: 30px;
			i { margin-right: 10px; color: $green; }
		}
	}
	.navbar { padding: 0; }
	.sub-menu { width: 200px; font-size: 16px; display: none;
		position: absolute;
		left: 0;
		padding: 20px;
		margin: 0;
		text-align: left;
		background: #fff;
		li { display: block; font-size: 16px; margin: 0 0 20px; line-height: 16px;
			&:last-child { margin: 0; }
			a { padding: 0; }
			a:after { display: none; }
		}
	}
}

/* FOOTER */

footer { background: $green; padding: 70px 0 40px; color: $white;
	#map_canvas { width: 100%; height: 275px; margin: 0 0 30px 55px; }
	.widget-title { text-transform: uppercase; font-size: 40px; margin-bottom: 25px; }
	.widget-right { padding-left: 55px; };
	form fieldset { overflow: hidden; margin: 0 0 15px; }
	form fieldset input { width: 31.7%; float: left; margin-right: 13px;
		&:last-child { margin-right: 0; }
	}
	form textarea { margin-bottom: 20px; }
	.copyrights { font-size: 16px; @include font-light; margin: 0 0 25px; }
	.footer-nav { margin: 0 0 10px; }
	.footer-nav .nav { overflow: hidden; }
	.footer-nav li { float: left; font-size: 16px; @include font-bold; margin-right: 35px;
		&:last-child { margin-right: 0; }
	}
    .social-nav { padding-left: 55px;
        a { display: inline-block; width: 183px; height: 62px; background: url(../images/fb-icon.png) no-repeat center; }
    }
}

/* TESTIMONIALS */

.testimonial-wrapper { padding: 170px 0 50px; background: #ffffff url(../images/qoute.png) center 80px no-repeat;
	h3 { text-align: center; @include font-bold; font-size: 48px; color: $green; text-transform: uppercase; margin: 0 0 35px; }
	p { color: #706f6f; font-size: 24px; text-align: center; @include font-regular; }
	.meta { text-align: center; margin: 60px 0 0;
		.avatar { width: 50px; height: 50px; border: 1px solid #706f6f; border-radius: 50%; display: inline-block; margin: 0 0 20px; }
		span { display: block; color: #706f6f; font-size: 20px; }
		strong { display: block; color: #216093; font-size: 24px; @include font-bold; }
	}
	.quote { padding: 0 180px; }
	.testimonial-arrows { font-size: 72px; color: #cdcfd1; width: 100%; position: absolute; top: 20%;
		.slick-arrow { position: absolute; top: 50%; }
		.slick-prev { left: 0; }
		.slick-next { right: 0; }
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {

	body { padding-top: 82px; }

	header { position: fixed; min-height: 1px;
		.logo { margin: 22px 0 21px; }
		.logo img { max-width: 90%; height: auto; }
		.top-bar { text-align: left; float: left; padding: 20px 0;
			a { margin: 0; display: block; }
		}
		.navbar {
			.nav { height: auto; text-align: left; position: absolute; top: 82px; width: 100%;
				li { display: block; margin: 0; background: rgba(255,255,255,0.95); width: 100%;
					&:hover, &.current-menu-item { color: $green; }
				}
				li a { padding: 4px 10px; margin: 0;
					&:after { display: none; }
				}
				.sub-menu { position: static; width: 100%; margin: 10px 0 0;
					li { margin: 0 0 10px; }
					li:last-child { margin: 0; }
					li a { padding: 0; margin: 0; }
				}
			}
			.navbar-toggler { background: $green; position: absolute; top: 16px; right: 0; border-radius: 0; padding: 15px; color: $white;
				&:focus { outline: none; }
			}
		}
	}

	footer {
		.widget-title { font-size: 26px; }
		form fieldset { margin: 0;
			input { margin-right: 8px; margin-bottom: 8px; }
		}
		.widget-right { padding: 0; }
		#map_canvas { margin-left: 0; }
		footer .social-nav { padding-left: 0; }
	}

	.testimonial-wrapper {
		h3 { font-size: 28px; }
		.quote { padding: 0 20px; }
		p { font-size: 18px; }
		.testimonial-arrows { display: none; }
	}

}

@media screen and (max-width: 767px) {

	body { padding-top: 94px; }

	header { position: fixed; min-height: 1px;
		.logo img { max-width: 70%; height: auto; }
		.top-bar { display: none; }
		.navbar {
			.nav { height: auto; text-align: left;
				li { display: block; margin: 0 0 10px;
					&:hover, &.current-menu-item { color: $green; }
				}
				li a { padding: 0; margin: 0;
					&:after { display: none; }
				}
				.sub-menu { position: static; width: 100%; margin: 10px 0 0;
					li { margin: 0 0 10px; }
					li:last-child { margin: 0; }
					li a { padding: 0; margin: 0; }
				}
			}
			.navbar-toggler { background: $green; position: absolute; top: -70px; right: 0; border-radius: 0; padding: 15px; color: $white;
				&:focus { outline: none; }
			}
		}
	}

	footer {
		.widget-title { font-size: 26px; }
		form fieldset { margin: 0;
			input { width: 100%; margin: 0 0 15px; }
		}
		.widget-right {
			padding: 0;
			&.text-center { text-align: left; margin: 0; }
			&.text-center .footer-nav li { float: none; display: block; }
			&.text-center .social-nav { text-align: left; }
		}
		.footer-nav li { float: none; margin: 0 0 15px; }
		#map_canvas { margin-left: 0; }
		footer .social-nav { padding-left: 0; }
	}

	.testimonial-wrapper {
		h3 { font-size: 28px; }
		.quote { padding: 0 20px; }
		p { font-size: 18px; }
		.testimonial-arrows { display: none; }
	}

}