@import "_mixins";
@import "fonts";

.main-banner { /*background: url(../images/main-banner.jpg) center top no-repeat; background-size: cover;*/ position: relative; /*padding-bottom: 250px;*/
    .container { z-index: 2; position: relative; }
    .caption-carousel { margin: 0; height: 100%;
        .caption { color: $white; text-align: center; background: #000 no-repeat; background-size: cover; padding: 375px 0 760px;
            h1 { text-transform: uppercase; font-size: 72px; margin-bottom: 40px; text-shadow: 0 0 10px rgba(0,0,0,0.5); }
            .btn { background: rgba(0,0,0,0.5); }
        }
    }
    .caption-arrows { text-align: center; /*margin: 80px 0 55px;*/ position: absolute; bottom: 45%; width: 100%; z-index: 90;
        .slick-prev, .slick-next { display: inline-block; width: 45px; border: 1px solid #ffffff; height: 55px; background: $green; color: $white; text-align: center; line-height: 55px; margin: 0 9px; transition: all 0.5s ease-in; font-size: 24px; font-weight: bold;
            &:hover { background: $white; color: $green; }
        }
    }
    .arrow { display: block; width: 31px; height: 38px; margin: 0 0 0 -15px; background: url(../images/arrow-down.png) no-repeat; position: absolute; bottom: 30%; left: 50%; }
    &:after { content: ''; display: block; width: 100%; background: url(../images/bg1.png) center bottom no-repeat; height: 749px; position: absolute; bottom: 0; z-index: 1; }
}

.whyus-wrapper { background: $green; padding-top: 175px; position: relative; z-index: 1;
    article { padding: 30px 70px 0 30px;
        &:before { position: absolute; top: -45px; right: 0; border: 5px solid $white; content: ''; display: block; width: 140%; height: 140%; z-index: -1; }
    }
    figure { margin: 0;
        a { display: block; line-height: 0; }
    }
    h2 { color: $white; @include font-light; text-transform: uppercase; font-weight: 300; font-size: 60px; margin-bottom: 20px; }
    h2 strong { @include font-bold; }
    h6 { color: $white; @include font-bold; font-size: 26px; margin-bottom: 20px; line-height: 36px; }
    p { color: $white; @include font-regular; margin-bottom: 40px; letter-spacing: .5px; }
    .btn { margin-right: 15px; }
}

.featured-services { background: url(../images/bg3.jpg) no-repeat; background-size: cover; padding: 95px 0 325px; margin-bottom: -600px;
    h3 { text-align: left; text-transform: uppercase; font-size: 48px; color: $white; margin: 0 0 30px; }
    .service-box { background: $green; width: 215px; height: 165px; padding: 20px; position: relative; margin: 0 20px 20px 0; float: left;
        h5 { color: $white; text-transform: uppercase; font-size: 24px; line-height: 24px; @include font-bold; }
        a { display: block; top: 0; left: 0; width: 100%; height: 100%; position: absolute; }
        .icon { margin: 0 0 20px; display: block; height: 62px; }
        &:hover {
            -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
            -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
            box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
        }
    }
    .service-row { overflow: hidden; clear: both; }
}

.about-wrapper { background: url(../images/bg2.png) center top no-repeat; background-size: cover; padding: 900px 0 180px;
    article { background: rgba(255,255,255,0.85); padding: 70px 80px; }
    h3 { text-align: center; color: $green; margin-bottom: 30px; text-transform: uppercase; font-size: 46px; }
    ul { margin: 0; padding: 0; }
    li { text-align: left; color: #706f6f; font-size: 26px; @include font-bold; margin: 0 0 35px; list-style: none; padding-left: 55px; background: url(../images/list-item.png) 0 10px no-repeat;
        &:last-child { margin: 0; }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .main-banner {
        .caption-carousel {
            .caption { padding: 175px 0 660px; }
            .caption h1 { font-size: 42px; }
        }
        .caption-arrows { bottom: 55%; }
        .arrow { bottom: 45%; }
    }

    .whyus-wrapper { padding: 50px 0;
        h2 br { display: none; }
        figure { margin: 0 0 50px; }
        article { padding: 0;
            &:before { display: none; }
            .btn { padding: 7px 25px; font-size: 16px; line-height: 28px; }
        }
    }

}

@media screen and (max-width: 767px) {

    .main-banner { padding: 0;
        &:after { display: none; }
        .caption-carousel { margin: 0; padding: 0;
            .caption { padding: 75px 0 260px; }
            .caption h1 { font-size: 36px; height: 117px; }
        }
        .caption-arrows { bottom: 30%; }
        .arrow { bottom: 15%; }
    }

    .whyus-wrapper { padding: 50px 0;
        figure { margin: 0 0 50px; }
        article { padding: 0;
            &:before { display: none; }
            .btn { width: 100%; margin: 0 0 20px; }
        }
    }

    .featured-services { padding: 100px 0; margin: 0;
        h3 { font-size: 36px; }
    }

    .about-wrapper { padding: 100px 0; background-position-y: bottom; background-size: initial;
        article { padding: 20px; }
        h3 { font-size: 28px; }
        li { font-size: 15px; margin-bottom: 25px; }
    }

}
