@import "_mixins";
@import "fonts";

.inner-banner { margin-bottom: -760px; position: relative;
    .frame { /*background: url(../images/inner-banner.jpg);*/ height: 760px; padding: 250px 0 0;
        -webkit-mask-image: url(../images/frame-fill.svg);
        mask-image: url(../images/frame-fill.svg);
        -webkit-mask-size: cover;
        mask-size: cover;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center bottom;
        mask-position: center bottom;
    }
    &:after { content: ''; position: absolute; bottom: 0; left: 0; right: 0; display: block; background: url(../images/frame.svg) center bottom no-repeat; background-size: cover; width: 100%; height: 760px; }
    h1 { color: $white; text-transform: uppercase; font-size: 72px; }
}

.page-contents { background: $green; background-size: cover; padding: 860px 0 100px;
    h3, h4, h5 { color: #fda271; font-size: 30px; @include font-bold; margin-bottom: 30px; }
    p { margin: 0 0 30px; }
    li, p { color: #f7f7f7; font-size: 24px; @include font-regular; }
    ul { padding: 0; overflow: hidden; margin: 0 0 30px; }
    li { width: 60%; float: left; font-size: 20px; list-style: none; position: relative; text-transform: capitalize;
        &:before { margin: 0 20px 0 0; color: #fda271;
            content: "\f00c";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }
        &:nth-child(2n) { width: 40%; }
    }
    p a { color: #fda271; text-decoration: none; }
    form { background: #ffffff; padding: 40px; margin: 0 0 70px;
        -webkit-box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
        box-shadow: 0px 10px 10px rgba(0,0,0,0.3);
        h3 { text-transform: uppercase; color: #000000; margin-bottom: 25px; }
        input[type=text], input[type=email], input[type=tel], textarea { border-color: #646464; color: #646464; margin-bottom: 10px; }
        .half { width: calc(50% - 7px); margin-right: 10px; }
        .half.last { margin-right: 0; }
        .full { width: 100%; }
        input[type=submit] { background: #216093; border: 0; }
        ::-webkit-input-placeholder {
            color: #646464;
        }
        :-moz-placeholder {
            color: #646464;
            opacity: 1;
        }
        ::-moz-placeholder {
            color: #646464;
            opacity: 1;
        }
        :-ms-input-placeholder {
            color: #646464;
        }
        ::-ms-input-placeholder {
            color: #646464;
        }
    }
    .social_btn { display: inline-block; width: 183px; height: 62px; background: url(../images/fb-icon.png) no-repeat center; }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .page-contents {
        h3, h4, h5 { font-size: 26px; }
        form { padding: 20px;
            .half { width: 100%; margin-right: 0; }
        }
        li { width: 100%; float: none;
            &:nth-child(2n) { width: 100%; }
        }
    }

}

@media screen and (max-width: 767px) {

    .inner-banner { margin: 0;
        .frame { height: auto; padding: 100px 0; -webkit-mask-image: none; mask-image: none; }
        &:after { display: none; }
        h1 { font-size: 36px; }
    }

    .page-contents { padding: 100px 0;
        h3, h4, h5 { font-size: 26px; }
        form { padding: 20px;
            .half { width: 100%; margin-right: 0; }
        }
        li { width: 100%; float: none;
            &:nth-child(2n) { width: 100%; }
        }
    }

}